
/* ============
Add Supplier
=========== */

.add_supplier_page .s_add_nav ul {
    display: flex;
    align-items: center;
  }
  
  .add_supplier_page .s_add_nav ul li a {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 12px 20px;
    border-top: 2px solid transparent;
    transition: all 0.3s ease-in-out;
  }
  
  .add_supplier_page .s_add_nav ul li a:hover,
  .add_supplier_page .s_add_nav ul li a.active {
    background: var(--white-color);
    border-top: 2px solid var(--primary-color);
    transition: all 0.3s ease-in-out;
  }
  
  .add_supplier_page .s_add_info {
    width: 100%;
    height: 100%;
    background: var(--white-color);
    padding: 50px 20px;
  }
  
  .add_supplier_page .s_add_form {
    width: 420px;
    margin: auto;
  }
  
  .add_supplier_page .s_add_form .btn_group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 50px;
  }
  
  .add_supplier_page .s_add_form .ex_s_text {
    color: var(--description-color);
    text-align: end;
    display: block;
  }
  
  .tag-container {
    position: relative;
  }
  
  .tag-container .selected-tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8px;
  }
  
  .tag-container .selected-tag {
    background-color: rgba(18, 164, 245, 0.2);
    color: #12A4F5;
    padding: 2px 8px;
    font-size: 12px;
    margin-right: 4px;
    border-radius: 4px px;
    cursor: pointer;
    position: relative;
    top: -30px;
    left: 10px;
    border-radius: 2px;
  }
  
  .tag-container .dropdown {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    display: none;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .tag-container .dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .tag-container .dropdown ul li {
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .tag-container .dropdown ul li:hover {
    background-color: #f0f0f0;
  }
  
  .add_supplier_page .c_person_name {
    padding: 8px 8px;
    background: rgba(63, 82, 111, 0.16);
    color: #3f526f;
    font-family: var(--text-semibold);
    text-transform: uppercase;
    border-radius: 2px;
    display: flex;
    align-items: center;
    width: max-content;
    font-size: 13px;
    cursor: pointer;
  }
  
  .add_supplier_page .c_person_name .hide_p{
    font-size: 16px;
    margin-left: 5px;
  }
  
  .add_supplier_page .c_person_list.view_zigzag .c_person_name {
    padding: 12px 8px !important;
    cursor: pointer;
  }
  
  .add_supplier_page .c_person_name .bxs-star {
    color: var(--secondary-color);
  }
  
  
  .add_supplier_page .c_person_list {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
  }