@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");

@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSansPro-Semibold";
  src: url("../fonts/SourceSansPro-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSansPro-Bold";
  src: url("../fonts/SourceSansPro-Bold.ttf") format("truetype");
}

:root {
  /* COLOR */
  --primary-color: #3f526f;
  --secondary-color: #e4b95e;
  --title-color: #4f4f50;
  --description-color: #8d8e90;
  --white-color: #ffffff;
  --border-color: #e0e1e4;
  /* TYPOGRAPHY */
  --h1-font-size: 24px;
  --h2-font-size: 20px;
  --normal-font-size: 15px;
  --small-font-size: 14px;
  /* TYPOGRAPHY */
  --body-font: "SourceSansPro", sans-serif;
  --text-semibold: "SourceSansPro-Semibold", sans-serif;
  --text-bold: "SourceSansPro-Bold", sans-serif;
  --ex-text-font: "Hammersmith One", sans-serif;
}

/*========== BASE ==========*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide default scrollbar */
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
  padding: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--primary-color);
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--title-color);
  background: #e9eaed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: var(--text-semibold);
}

ul {
  margin: 0;
}

h1 {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  font-weight: 600;
  font-family: var(--text-bold);
}

h2 {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  font-weight: 600;
  font-family: var(--text-bold);
}

p {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--description-color);
  margin: 0;
  line-height: 1.6;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--title-color);
  font-family: var(--body-font);
}

span {
  line-height: 0;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  padding: 10px !important;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  height: 40px;
}

.form-select {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  height: 40px;
}

label {
  margin-bottom: 5px;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: 600;
}

input::placeholder {
  font-size: var(--small-font-size);
  color: var(--description-color);
}

.form-select,
textarea,
input:focus {
  box-shadow: none !important;
  /* border: 1px transparent !important; */
}

textarea::placeholder {
  font-size: var(--small-font-size);
  color: var(--description-color);
}

.icons {
  font-size: 22px;
  color: var(--description-color);
}

#shadow-host-content {
  display: none;
}

/* Common Css*/

.btn {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 400;
  background: var(--primary-color);
  color: var(--white-color);
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-family: "SourceSansPro-Semibold", sans-serif;
  line-height: 1.5;
  border: none;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_sec {
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 400;
  background: #e0e3e8;
  color: var(--title-color);
  border: none;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
  cursor: pointer;
  font-family: "SourceSansPro-Semibold", sans-serif;
  text-align: center;
  line-height: 1.5;
  vertical-align: middle;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  background: #3f526fc0;
  color: var(--white-color);
}

.btn_sec:hover {
  background: #3f526f44;
}

.body_container {
  width: 100%;
  height: 100vh;
  padding-left: 250px;
  /* padding-right: 30px; */
  /* position: relative; */
}

.container-fluid {
  padding: 30px 30px;
  height: 100%;
}

.logo_area .logo {
  height: 40px;
}

.side_ex_bg {
  position: fixed;
  top: -25%;
  right: -25%;
  z-index: -99999;

}

.breadcrumb a {
  color: var(--description-color);
}

.breadcrumb a:hover,
.breadcrumb a.active {
  color: var(--primary-color);
  font-family: var(--text-semibold);
}

.section_title {
  margin-top: 20px;
}

/* ============
Said Navbar
=========== */
.side_navbar {
  background: var(--primary-color);
  width: 250px;
  height: 100vh;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10 !important;
}

.side_navbar .nav_list_area {
  margin-top: 30px;
}

.side_navbar .nav_list_area .menu_list .nav_list {
  margin-top: 20px;
}

.side_navbar .nav_list_area .menu_list .nav_list:nth-child(1) {
  margin-top: 0;
}

.side_navbar .nav_list_area .menu_list .nav_list .nav_link {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  transition: all 0.5s ease-in-out;
}

.side_navbar .nav_list_area .menu_list .nav_list .nav_link span {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #919eab;
}

.side_navbar .nav_list_area .menu_list .nav_list .nav_link span .icons {
  font-size: 20px;
}

.side_navbar .nav_list_area .menu_list .nav_list .nav_link.active span {
  color: var(--white-color) !important;
}

.side_navbar .nav_list_area .menu_list .nav_list .nav_link.active span .icons {
  color: var(--secondary-color);
}

.side_navbar .nav_list_area .menu_list .nav_list .sub_menu {
  margin-left: 45px;
  margin-top: 10px;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.side_navbar .nav_list_area .menu_list .nav_list .sub_menu li {
  list-style-type: circle;
  color: #919eab;
  margin-top: 10px;
}

.side_navbar .nav_list_area .menu_list .nav_list .sub_menu li a {
  color: #919eab;
}

.side_navbar .nav_list_area .menu_list .nav_list .sub_menu.open {
  display: block;
  opacity: 1;
}

.menu_title {
  margin-top: 40px;
  text-transform: uppercase;
  color: #919eab;
  font-family: var(--text-bold);
}

#toggle_icon {
  display: none;
}

.side_navbar .nav_title {
  font-size: var(--small-font-size);
  font-family: var(--text-bold);
  text-transform: uppercase;
}


.side_notifi {
  padding: 8px 8px;
  background: var(--secondary-color);
  border-radius: 100px;
  color: var(--white-color) !important;
  font-size: 12px;
}

.top_icon_group {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 30px;
}

/* ============
Top Navbar
=========== */

.top_navbar {
  width: 100%;
  height: 80px;
  background: #ffffff;
  position: sticky;
  top: 0;
  right: -20px !important;
  display: flex;
  justify-content: end;
  align-items: center;
  max-width: 1680px;
  padding: 0 20px;
  z-index: 1;
}

.top_navbar .right {
  display: flex;
  justify-content: end;
  align-items: center;
}

.top_navbar .user {
  width: 48px;
  height: 48px;
  background: var(--border-color);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.top_navbar .user .user_area .icons {
  color: var(--primary-color);
  margin-top: 7px;
}

.top_navbar .status .bxs-check-circle,
.top_navbar .status .bxs-x-circle {
  font-size: 18px;
  position: absolute;
  bottom: -3px;
  right: -3px;
  display: none;
}

.top_navbar .status .icons.green {
  display: block;
  color: #009B51 !important;
}

.top_navbar .status .icons.red {
  color: #ff0000 !important;
}

.top_navbar .text {
  text-align: end;
}

.top_navbar .text .company_name {
  font-family: var(--text-bold);
  color: var(--primary-color);
}

.top_navbar .left .toggle_icon {
  cursor: pointer;
  display: none;
}

.top_navbar .left .toggle_icon .icons {
  font-size: 30px;
}



/* ============
Add Supplier
=========== */

.add_supplier_page .s_add_nav ul {
  display: flex;
  align-items: center;
}

.add_supplier_page .s_add_nav ul li a {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 12px 20px;
  border-top: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

.add_supplier_page .s_add_nav ul li a:hover,
.add_supplier_page .s_add_nav ul li a.active {
  background: var(--white-color);
  border-top: 2px solid var(--primary-color);
  transition: all 0.3s ease-in-out;
}

.add_supplier_page .s_add_info {
  width: 100%;
  height: 100%;
  background: var(--white-color);
  padding: 50px 20px;
}

.add_supplier_page .s_add_form {
  width: 420px;
  margin: auto;
}

.add_supplier_page .s_add_form .btn_group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 50px;
}

.add_supplier_page .s_add_form .ex_s_text {
  color: var(--description-color);
  text-align: end;
  display: block;
}

.tag-container {
  position: relative;
}

.tag-container .selected-tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
}

.tag-container .selected-tag {
  background-color: rgba(18, 164, 245, 0.2);
  color: #12A4F5;
  padding: 2px 8px;
  font-size: 12px;
  margin-right: 4px;
  border-radius: 4px px;
  cursor: pointer;
  position: relative;
  top: -30px;
  left: 10px;
  border-radius: 2px;
}

.tag-container .dropdown {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  display: none;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.tag-container .dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tag-container .dropdown ul li {
  padding: 8px 16px;
  cursor: pointer;
}

.tag-container .dropdown ul li:hover {
  background-color: #f0f0f0;
}

.add_supplier_page .c_person_name {
  padding: 8px 8px;
  background: rgba(63, 82, 111, 0.16);
  color: #3f526f;
  font-family: var(--text-semibold);
  text-transform: uppercase;
  border-radius: 2px;
  display: flex;
  align-items: center;
  width: max-content;
  font-size: 13px;
  cursor: pointer;
}

.add_supplier_page .c_person_list.view_zigzag .c_person_name {
  padding: 12px 8px !important;
  cursor: pointer;
}

.add_supplier_page .c_person_name .bxs-star {
  color: var(--secondary-color);
}


.add_supplier_page .c_person_list {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}