@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");

@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSansPro-Semibold";
  src: url("../fonts/SourceSansPro-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSansPro-Bold";
  src: url("../fonts/SourceSansPro-Bold.ttf") format("truetype");
}

:root {
  /* COLOR */
  --primary-color: #3f526f;
  --secondary-color: #e4b95e;
  --title-color: #3F526F;
  --description-color: #637381;
  --gray-black-color: #161C24;

  --white-color: #ffffff;
  --border-color: #e0e1e4;
  /* TYPOGRAPHY */
  --h1-font-size: 24px;
  --h2-font-size: 20px;
  --normal-font-size: 15px;
  --small-font-size: 14px;
  /* TYPOGRAPHY */
  --body-font: "SourceSansPro", sans-serif;
  --text-semibold: "SourceSansPro-Semibold", sans-serif;
  --text-bold: "SourceSansPro-Bold", sans-serif;
  --ex-text-font: "Hammersmith One", sans-serif;
}

/*========== BASE ==========*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide default scrollbar */
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
  padding: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--primary-color);
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--title-color);
  background: #e9eaed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: var(--text-semibold);
}

ul {
  margin: 0;
}

h1 {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  font-weight: 600;
  font-family: var(--text-bold);
}

h2 {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  font-weight: 600;
  font-family: var(--text-bold);
}

p {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--description-color);
  margin: 0;
  line-height: 1.6;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--title-color);
  font-family: var(--body-font);
}

span {
  line-height: 120%;
}

img {
  max-width: 100%;
  height: auto;
}

.mt-2 {
  margin-top: 20px !important;
}

.mt-3 {
  margin-top: 30px !important;
}

.mt-4 {
  margin-top: 40px !important;
}

.mt-5 {
  margin-top: 50px !important;
}

.mb-2 {
  margin-bottom: 20px !important;
}

.mb-3 {
  margin-bottom: 30px !important;
}

.mb-4 {
  margin-bottom: 40px !important;
}

.mb-5 {
  margin-bottom: 50px !important;
}

input {
  padding: 10px !important;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  height: 40px;
}

.form-select {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  height: 40px;
}

label {
  margin-bottom: 5px;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: 600;
}

hr {
  margin: 0;
  border: 1px solid var(--border-color);
}

input::placeholder {
  font-size: var(--small-font-size);
  color: var(--description-color);
}

.form-select,
textarea,
input:focus {
  box-shadow: none !important;
}

textarea::placeholder {
  font-size: var(--small-font-size);
  color: var(--description-color);
}

.toggle_eye{
  cursor: pointer;
}

.toggle_eye .icons{
  color: var(--description-color) !important;
}

.icons {
  font-size: 22px;
  color: var(--description-color);
}

#shadow-host-content {
  display: none;
}

/* Common Css*/

.btn {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 400;
  background: var(--primary-color);
  color: var(--white-color);
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-family: "SourceSansPro-Semibold", sans-serif;
  line-height: 1.5;
  border: none;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_sec {
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 400;
  background: #e0e3e8;
  color: var(--title-color);
  border: none;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
  cursor: pointer;
  font-family: "SourceSansPro-Semibold", sans-serif;
  text-align: center;
  line-height: 1.5;
  vertical-align: middle;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  background: #3f526fc0;
  color: var(--white-color);
}

.btn_sec:hover {
  background: #3f526f44;
}

.body_container {
  width: 100%;
  height: 100%;
  padding-left: 250px;
}

.body_container.sm_sidebar {
  padding-left: 80px;
  transition: all 0.5s ease-in-out;
}

.container-fluid {
  padding: 30px 30px;
  height: 100%;
}

.logo_area .logo {
  height: 40px;
}

.side_ex_bg {
  position: fixed;
  top: -25%;
  right: -25%;
  z-index: -99999;

}

.breadcrumb a {
  color: var(--description-color);
}

.breadcrumb a:hover,
.breadcrumb a.active {
  color: var(--primary-color);
  font-family: var(--text-semibold);
}

.section_title h1 {
  color: var(--primary-color);
}

.form-group{
  margin-top: 16px !important;
}
/* ============
Said Navbar
=========== */
.side_navbar {
  background: var(--primary-color);
  width: 250px;
  height: 100vh;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10 !important;
}

.side_navbar .nav_list_area {
  margin-top: 30px;
}

.side_navbar .nav_list_area .menu_list .nav_list {
  margin-top: 20px;
}

.side_navbar .nav_list_area .menu_list .nav_list:nth-child(1) {
  margin-top: 0;
}

.side_navbar .nav_list_area .menu_list .nav_list .nav_link {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  transition: all 0.5s ease-in-out;
}

.side_navbar .nav_list_area .menu_list .nav_list .nav_link span {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #919eab;
}

.side_navbar .nav_list_area .menu_list .nav_list .nav_link span .icons {
  font-size: 20px;
  color: #919eab;
}

.side_navbar .nav_list_area .menu_list .nav_list .nav_link.active span {
  color: var(--white-color) !important;
}

.side_navbar .nav_list_area .menu_list .nav_list .nav_link.active span .icons {
  color: var(--secondary-color);
}

.side_navbar .nav_list_area .menu_list .nav_list .sub_menu {
  margin-left: 45px;
  margin-top: 10px;
  display: none;
  /* opacity: 0; */
  transition: 0.3s ease-in-out;
}

.side_navbar .nav_list_area .menu_list .nav_list .sub_menu li {
  list-style-type: disc;
  color: #919eab;
  margin-top: 10px;
}

.side_navbar .nav_list_area .menu_list .nav_list .sub_menu li a {
  color: #919eab;
}

.side_navbar .nav_list_area .menu_list .nav_list .sub_menu.open {
  display: block;
  opacity: 1;
}

.menu_title {
  margin-top: 40px;
  text-transform: uppercase;
  color: #919eab;
  font-family: var(--text-bold);
}

#toggle_icon {
  display: none;
}

.side_navbar .nav_title {
  font-size: var(--small-font-size);
  font-family: var(--text-bold);
  text-transform: uppercase;
  color: #919eabad;
}


.side_notifi {
  padding: 3px 8px;
  background: var(--secondary-color);
  border-radius: 100px;
  color: var(--white-color) !important;
  font-size: 12px;
}

.top_icon_group {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 30px;
}


.side_navbar.sm_sidebar {
  width: 80px;
  transition: all 0.5s ease-in-out;
}

.side_navbar.sm_sidebar .nav_list_area .menu_list .nav_list a {
  overflow: hidden;
}

.side_navbar.sm_sidebar .nav_list_area .menu_list .nav_title {
  display: none;
}

.side_navbar.sm_sidebar .nav_list_area .menu_list .nav_list a span {
  font-size: 0;
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: right;
}

.side_navbar.sm_sidebar .nav_list_area .menu_list .nav_list .nav_link {
  display: block !important;
}

.side_navbar.sm_sidebar .nav_list_area .menu_list .nav_list a span.icons {
  text-align: center
}

.side_navbar.sm_sidebar .nav_list_area .menu_list .nav_list .side_notifi {
  display: none;
}

.side_navbar.sm_sidebar .nav_list_area .menu_list .nav_list .bx-chevron-down {
  display: none;
}

.side_navbar .sm_logo {
  display: none;
}

.side_navbar.sm_sidebar .logo {
  display: none;
}

.side_navbar.sm_sidebar .sm_logo {
  display: block;
}

.side_navbar.sm_sidebar .menu_list li {
  position: relative;
}

.side_navbar.sm_sidebar .menu_list li .sub_menu {
  position: absolute;
  top: -8px;
  left: 20px;
  background: var(--primary-color);
  width: 150px;
  padding: 16px !important;
  border-radius: 8px;
  z-index: 10;
  box-shadow: 5px 5px 35px #0000001a;
  border: 1px solid var(--border-color);
}

.side_navbar.sm_sidebar .menu_list li .sub_menu li {
  list-style: none !important;
}

.side_navbar.sm_sidebar .menu_list li .sub_menu li:first-child {
  margin-top: 0;
}

.side_navbar.sm_sidebar  .nav_list_area .menu_list .nav_list .sub_menu li a{
  color: var(--white-color);
}


/* ============
Top Navbar
=========== */

.top_navbar {
  width: 100%;
  height: 80px;
  background: #ffffff;
  position: sticky;
  top: 0;
  right: -20px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  z-index: 1;
}

.top_navbar .toggle_menu {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
}

.top_navbar .toggle_menu .icons {
  color: var(--title-color);
  font-size: 25px;
}

.top_navbar .right {
  display: flex;
  justify-content: end;
  align-items: center;
}

.top_navbar .user {
  width: 48px;
  height: 48px;
  background: var(--border-color);
  border-radius: 8px;
  cursor: pointer;
  position: relative;
}

.top_navbar .user a {
  width: 100%;
  height: 100%;
  line-height: 58px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top_navbar .user .user_area .icons {
  color: var(--primary-color);
}

.top_navbar .status .bxs-check-circle,
.top_navbar .status .bxs-x-circle {
  font-size: 18px;
  position: absolute;
  bottom: -3px;
  right: -3px;
  display: none;
}

.top_navbar .status .icons.green {
  display: block;
  color: #009B51 !important;
}

.top_navbar .status .icons.red {
  color: #ff0000 !important;
}

.top_navbar .text {
  text-align: end;
}

.top_navbar .text .company_name {
  font-family: var(--text-bold);
  color: var(--primary-color);
}

.top_navbar .left .toggle_icon {
  cursor: pointer;
  display: none;
}

.top_navbar .left .toggle_icon .icons {
  font-size: 30px;
}


/* ============
notification area
=========== */

.notification_area {
  width: 400px;
  position: absolute;
  top: 90px;
  right: 20px;
  background: var(--white-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  display: none;
  border: 1px solid var(--border-color);
}

.notification_area.active {
  display: block;
}

.notification_area .notifi_item {
  border-bottom: 1px solid var(--border-color);
  cursor: pointer;
  padding: 20px;
}

.notification_area .notifi_item:last-child {
  border: none;
}

.notification_area .notifi_item:hover {
  background: #E4B95E29;
}

.notification_area .notifi_item:first-child {
  margin-top: 0;
}

.notification_area .notifi_item .notifi_header {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.notification_area .notifi_item .notifi_header h6 {
  font-size: var(--normal-font-size);
  position: relative;
}

.notification_area .notifi_item .notifi_header.unread h6.notifi_title {
  margin-left: 16px;
  font-family: var(--text-bold);
}

.notification_area .notifi_item .notifi_header.unread h6::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: var(--secondary-color);
  border-radius: 8px;
  left: -15px;
  top: 6px;
}


.single_notification .notifi_item {
  cursor: auto;
}

.single_notification .notifi_item .notifi_title {
  font-family: var(--text-bold);
}

.single_notification .notifi_item:hover {
  background: var(--white-color);
  border-radius: 8px;
}

.single_notification #backButton {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 20px;
  padding-bottom: 0;
  color: var(--title-color);
  font-weight: 600;
}

.single_notification #backButton .icons {
  color: var(--title-color);
  font-weight: 600;
}


/* ============
Profile css
=========== */

.profile_page .profile_content {
  padding: 40px;
  background: var(--white-color);
  border-radius: 8px;

}

.profile_page .profile_content .profile_info_list p {
  color: #212B36;
  font-family: var(--text-semibold)
}

.profile_page .profile_content .profile_info_list ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.profile_page .profile_content .profile_info_list ul li {
  display: flex;
  align-items: center;
  gap: 5px;
}


.user_m_list{
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 20px;
  background: var(--white-color);
  border-radius: 8px;
  margin-top: 16px;
}

.user_m_list .icons{
  color: var(--secondary-color)
}

.user_m_list p{
  font-size: var(--normal-font-size);
  font-family: var(--text-semibold);
  color: #262526;
}