@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");

@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSansPro-Semibold";
  src: url("../fonts/SourceSansPro-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSansPro-Bold";
  src: url("../fonts/SourceSansPro-Bold.ttf") format("truetype");
}

:root {
  /* COLOR */
  --primary-color: #3f526f;
  --secondary-color: #e4b95e;
  --title-color: #4f4f50;
  --description-color: #8d8e90;
  --white-color: #ffffff;
  --border-color: #e0e1e4;
  /* TYPOGRAPHY */
  --h1-font-size: 24px;
  --h2-font-size: 20px;
  --normal-font-size: 15px;
  --small-font-size: 14px;
  /* TYPOGRAPHY */
  --body-font: "SourceSansPro", sans-serif;
  --text-semibold: "SourceSansPro-Semibold", sans-serif;
  --text-bold: "SourceSansPro-Bold", sans-serif;
  --ex-text-font: "Hammersmith One", sans-serif;
}

/*========== BASE ==========*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide default scrollbar */
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
  padding: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--primary-color);
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--title-color);
  background: #e9eaed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: var(--text-semibold);
}

ul {
  margin: 0;
}

h1 {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  font-weight: 600;
}

h2 {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  font-weight: 600;
}

p {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--description-color);
  margin: 0;
  line-height: 1.6;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--title-color);
  font-family: var(--body-font);
}

img {
  max-width: 100%;
  height: auto;
}

input {
  padding: 8px !important;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

label {
  margin-bottom: 5px;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: 600;
}

input::placeholder {
  font-size: var(--small-font-size);
  color: var(--description-color);
}

input:focus {
  box-shadow: none !important;
}

textarea::placeholder {
  font-size: var(--small-font-size);
  color: var(--description-color);
}

.icons {
  font-size: 24px;
  color: var(--description-color);
}

#shadow-host-content {
  display: none;
}

/* Common Css*/

.btn {
  padding: 8px;
  font-size: 14px;
  font-weight: 400;
  background: var(--primary-color);
  color: var(--white-color);
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-family: "SourceSansPro-Semibold", sans-serif;
}

.btn_sec {
  padding: 8px;
  font-size: 14px;
  font-weight: 400;
  background: #e0e3e8;
  color: var(--title-color);
  border: none;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
  cursor: pointer;
  font-family: "SourceSansPro-Semibold", sans-serif;
  text-align: center;
}

.btn:hover {
  background: #3f526fc0;
  color: var(--white-color);
}

.btn_sec:hover {
  background: #3f526f44;
}

.body_container {
  width: 100%;
  height: 100vh;
  padding-left: 250px;
  /* padding-right: 30px; */
  /* position: relative; */
}

.container-fluid {
  padding: 0 20px;
}

.logo_area .logo {
  height: 40px;
}

/* ============
Said Navbar
=========== */
.side_navbar {
  background: var(--primary-color);
  width: 250px;
  height: 100vh;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
}

.side_navbar .nav_list_area {
  margin-top: 30px;
}

.side_navbar .nav_list_area .menu_list .nav_list {
  margin-top: 20px;
}

.side_navbar .nav_list_area .menu_list .nav_list:nth-child(1) {
  margin-top: 0;
}

.side_navbar .nav_list_area .menu_list .nav_list .nav_link {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  transition: all 0.5s ease-in-out;
}

.side_navbar .nav_list_area .menu_list .nav_list .nav_link span {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #919eab;
}

.side_navbar .nav_list_area .menu_list .nav_list .nav_link span .icons {
  font-size: 20px;
}

.side_navbar .nav_list_area .menu_list .nav_list .nav_link.active span {
  color: var(--white-color) !important;
}

.side_navbar .nav_list_area .menu_list .nav_list .nav_link.active span .icons {
  color: var(--secondary-color);
}

.side_navbar .nav_list_area .menu_list .nav_list .sub_menu {
  margin-left: 45px;
  margin-top: 10px;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.side_navbar .nav_list_area .menu_list .nav_list .sub_menu li {
  list-style-type: circle;
  color: #919eab;
  margin-top: 10px;
}

.side_navbar .nav_list_area .menu_list .nav_list .sub_menu li a {
  color: #919eab;
}

.side_navbar .nav_list_area .menu_list .nav_list .sub_menu.open {
  display: block;
  opacity: 1;
}

.menu_title {
  margin-top: 40px;
  text-transform: uppercase;
  color: #919eab;
  font-family: var(--text-bold);
}

#toggle_icon {
  display: none;
}


/* ============
Top Navbar
=========== */

.top_navbar {
  width: 100%;
  height: 80px;
  background: #ffffff;
  position: sticky;
  top: 0;
  right: -20px !important;
  display: flex;
  justify-content: end;
  align-items: center;
  max-width: 1680px;
  padding: 0 20px;
}

.top_navbar .right {
  display: flex;
  justify-content: end;
  align-items: center;
}

.top_navbar .user {
  width: 48px;
  height: 48px;
  background: var(--border-color);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  cursor: pointer;
  position: relative;
}

.top_navbar .user .user_area .icons {
  color: var(--primary-color);
  margin-top: 7px;
}

.top_navbar .status .bxs-check-circle,
.top_navbar .status .bxs-x-circle {
  font-size: 18px;
  position: absolute;
  bottom: -3px;
  right: -3px;
  display: none;
}

.top_navbar .status .icons.green{
  display: block;
  color: #009B51 !important;
}

.top_navbar .status .icons.red{
  color: #ff0000 !important;
}

.top_navbar .text {
  text-align: end;
}

.top_navbar .text .company_name {
  font-family: var(--text-bold);
  color: var(--primary-color);
}

.top_navbar .left .toggle_icon {
  cursor: pointer;
  display: none;
}

.top_navbar .left .toggle_icon .icons {
  font-size: 30px;
}

