/* =================
Suppliers Contact List
================= */
.suppliers_con_list .find_add_suppliers {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.suppliers_con_list .find_add_suppliers .s_find_info,
.suppliers_con_list .find_add_suppliers .s_add_bulk {
  display: flex;
  align-items: center;
  gap: 20px;
}

.suppliers_con_list .find_add_suppliers .s_find_info .s_categories,
.suppliers_con_list .find_add_suppliers .s_find_info .s_search {
  width: 250px;
}

/* .suppliers_con_list .find_add_suppliers .s_find_info .s_search input{
    border-right: none;
  }
  
  .suppliers_con_list .find_add_suppliers .s_find_info .s_search input:focus{
    border-right: 1px !important;
  } */

.suppliers_con_list .find_add_suppliers .s_find_info .s_search .input-group-text {
  background: var(--white-color);
  border-left: none
}

.suppliers_con_list .find_add_suppliers .s_find_info .s_search .input-group-text .icons {
  font-size: 16px;
}

.suppliers_con_list .suppliers_list_group .s_list {
  padding: 16px 24px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.7);
  transition: all 0.5s ease-in-out;
}

.suppliers_con_list .suppliers_list_group .s_list:hover {
  background: var(--white-color);
}

.suppliers_con_list .suppliers_list_group .s_list .s_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}

.suppliers_con_list .suppliers_list_group .s_list .s_header .title,
.suppliers_con_list .suppliers_list_group .s_list .s_header .rating {
  display: flex;
  align-items: center;
  gap: 10px;
}

.suppliers_con_list .suppliers_list_group .s_list .s_header .title h2 {
  margin-right: 5px;
}

.suppliers_con_list .suppliers_list_group .s_list .s_header .title .icons {
  font-size: 20px;
  color: #009B51;
}

.suppliers_con_list .suppliers_list_group .s_list .s_header .rating .icons {
  font-size: 14px;
  color: var(--secondary-color);
}

.suppliers_con_list .s-info_group {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  width: 100%;
}

.suppliers_con_list .s-info_group ul li {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.suppliers_con_list .s-info_group ul li span {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--description-color);
}

.suppliers_con_list .s-info_group ul li span .icons {
  font-size: 18px;
}

.suppliers_con_list .s-info_group span.s_p_info {
  color: var(--title-color);
  font-family: var(--text-semibold);

}

.suppliers_con_list .s-info_group .tag_area {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  max-width: 280px;
}

.suppliers_con_list .s-info_group .tag_area .tag_list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.suppliers_con_list .s-info_group .tag_area .tag_list .tag {
  background: rgba(18, 164, 245, 0.2);
  padding: 3px 5px;
  color: #12A4F5;
  font-size: 12px;
  border-radius: 2px;
  text-transform: uppercase;
}

.suppliers_con_list .s-info_group .s_btn_area {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}

.suppliers_con_list .s-info_group .s_btn_area .btn_sec .icons {
  font-size: 16px;
}


.pagination_area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px !important;
  flex-wrap: wrap;
}

.pagination_area .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px !important;
  flex-wrap: wrap;
}

.pagination_area .pagination {
  display: flex;
  align-items: center;
  gap: 10px !important;
  flex-wrap: wrap;
}

.pagination_area .pagination .page-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--title-color);
  background: transparent;
  border: none;
  border-radius: 8px;
}

.pagination_area .pagination .page-item a:hover,
.pagination_area .pagination .page-item a.active {
  background: rgba(0, 161, 179, 0.1);
}