/* =================
Suppliers Contact List
================= */
.suppliers_con_list .find_add_suppliers {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.suppliers_con_list .find_add_suppliers .s_find_info,
.suppliers_con_list .find_add_suppliers .s_add_bulk {
  display: flex;
  align-items: center;
  gap: 20px;
}

.suppliers_con_list .find_add_suppliers .s_find_info .s_categories,
.suppliers_con_list .find_add_suppliers .s_find_info .s_search {
  width: 250px;
}

.suppliers_con_list .find_add_suppliers .s_find_info .s_search .input-group-text {
  background: var(--white-color);
  border-left: none
}

.suppliers_con_list .find_add_suppliers .s_find_info .s_search .input-group-text .icons {
  font-size: 16px;
}

.suppliers_con_list .suppliers_list_group .s_list {
  padding: 16px 24px;
  border-radius: 4px;
  background: var(--white-color);
  transition: all 0.5s ease-in-out;
}

.suppliers_con_list .suppliers_list_group .s_list:hover {
  background: rgba(255, 255, 255, 0.7);
}

.suppliers_con_list .suppliers_list_group .s_list .s_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}

.suppliers_con_list .suppliers_list_group .s_list .s_header .title,
.suppliers_con_list .suppliers_list_group .s_list .s_header .rating {
  display: flex;
  align-items: center;
  gap: 10px;
}

.suppliers_con_list .suppliers_list_group .s_list .s_header .title {
  gap: 0;
}

.suppliers_con_list .suppliers_list_group .s_list .s_header .title h2 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.suppliers_con_list .suppliers_list_group .s_list .s_header .title .icons {
  font-size: 20px;
  color: #009B51;
}

.suppliers_con_list .suppliers_list_group .s_list .s_header .rating .icons {
  font-size: 14px;
  color: var(--secondary-color);
}

/* .suppliers_con_list .s-info_group {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  width: 100%;
  margin-top: 10px;
} */

.suppliers_con_list .s-info_group ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: var(--small-font-size)
}

.suppliers_con_list .s-info_group ul li span {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--description-color);
  text-transform: uppercase;
  min-width: 120px;
}

.suppliers_con_list .s-info_group ul li .s_p_info {
  font-family: var(--text-semibold);
  color: #4F4F50;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.suppliers_con_list .s-info_group ul li .icons {
  font-size: 18px;
}

.s_list.c_renewed {
  border-left: 4px solid #FFAE11;
}

.s_p_info.active,
.blue,
.renewed,
.expired,
.current,
.completed {
  padding: 2px 4px;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 12px !important;
}

.expired {
  background: #f3115548;
  color: #F31155;
}

.current {
  background: #009b5042;
  color: #009B51;
}

.renewed {
  background: #ffb0113f;
  color: #FFAE11;
}

.blue{
  background: #12A4F5;
  color: var(--white-color) !important;
}

.s_p_info.active{
  background: #009b51;
  color: var(--white-color) !important;
}

.s_list.c_expired {
  border-left: 4px solid red !important;
}

.s_list.c_current {
  border-left: 4px solid #74D062 !important;
}

.btn_review {
  background: #009B51;
  color: var(--white-color);
}

.btn_process {
  background: var(--secondary-color);
  color: var(--primary-color);
}

.btn_process span {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.btn_process:hover {
  background: #d1aa56;
  color: var(--primary-color);
}

.btn_review:hover {
  background: #01924c;
  color: var(--white-color);
}

.suppliers_con_list .s-info_group .tag_area {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  max-width: 280px;
}

.suppliers_con_list .s-info_group .tag_area .tag_list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.suppliers_con_list .s-info_group .tag_area .tag_list .tag {
  background: rgba(18, 164, 245, 0.2);
  padding: 3px 5px;
  color: #12A4F5;
  font-size: 12px;
  border-radius: 2px;
  text-transform: uppercase;
}

.suppliers_con_list .s-info_group .s_btn_area {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 15px;
  flex-direction: column;
}

.suppliers_con_list .s-info_group .s_btn_area.c_list_icons {
  flex-direction: row;
  align-items: center;
}

.suppliers_con_list .s-info_group .s_btn_area .btn_sec .icons {
  font-size: 16px;
}


.pagination_area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px !important;
  flex-wrap: wrap;
}

.pagination_area .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px !important;
  flex-wrap: wrap;
}

.pagination_area .pagination {
  display: flex;
  align-items: center;
  gap: 10px !important;
  flex-wrap: wrap;
}

.pagination_area .pagination .page-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--title-color);
  background: transparent;
  border: none;
  border-radius: 8px;
}

.pagination_area .pagination .page-item a:hover,
.pagination_area .pagination .page-item a.active {
  background: rgba(0, 161, 179, 0.1);
}